langchain-community==0.3.27
langchain-openai==0.3.27
langchain-core==0.3.68
langchain-postgres==0.0.15
chromadb==1.0.15
langchain-chroma==0.2.4
fastapi==0.116.1
langserve==0.3.1
sse_starlette==2.4.1
pymupdf==1.26.5
psycopg-binary==3.2.9
pydantic==2.11.7
argon2-cffi==25.1.0
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
